<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Games</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filterOptions.queryTitle" (ionChange)="updateGames()" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list #gameList *ngFor="let game of games">
    <ion-item button routerLink="/app/tabs/games/{{game.id}}">
      <ion-thumbnail slot="start">
        <ion-img [src]="game.thumbnail" alt="Game cover pic"></ion-img>
      </ion-thumbnail>

      <ion-label text-wrap>
        <h3>{{game.title}}</h3>

      </ion-label>
      <ion-item-group>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label text-wrap>{{game.minplayers}} - {{game.maxplayers}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="time"></ion-icon>
          <ion-label text-wrap>{{ game.maxplaytime }} mins</ion-label>
        </ion-item>

      </ion-item-group>


    </ion-item>

  </ion-list>
</ion-content>